{% extends 'base.html' %}

{% block head %}
<title>Update Page</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Update story</h2>
    <form action="/update_story/{{story.id}}" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title" value="{{story.title}}">
        </div>
        <div class="form-group">
            <label for="user_story">Story</label>
            <textarea name="user_story" id="user_story" cols="50" rows="4">{{story.user_story}}</textarea>
        </div>
        <div class="form-group form-check">
            <label for="acceptance_criteria">Acceptance Criteria</label>
            <textarea name="acceptance_criteria" id="acceptance_criteria" cols="50"
                rows="4">{{story.acceptance_criteria}}</textarea>
        </div>
        <div class="form-group">
            <label for="business_value">Business Value</label>
            <input type="integer" class="form-control" name="business_value" id="business_value"
                value="{{story.business_value}}">
        </div>
        <div class="form-group">
            <label for="estimation">Estimation</label>
            <input type="integer" class="form-control" name="estimation" id="estimation" value="{{story.estimation}}">
        </div>
        <div class="form-group">
            <label for="status">Choose one...</label>
            <select id="status" name="status">
                {% for status in statuses %}
                <option value="{{status}}">{{status}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-danger"><a href="/delete_story/{{story.id}}">Delete</a></button>
    </form>
</div>

{% endblock %}